<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RUN_MODE" value="DEVELOP"/>
    <add key="MA_DON_VI" value="GEN"/>
    <add key="MA_HE_THONG" value="KT"/>
    <add key="SERVER" value="tudm-pc\SQLEXPRESS"/>
    <add key="INITIAL_DATABASE" value="ADMIN_SOFT"/>
    <add key="FILL_DATABASE" value="ADMIN_SOFT"/>
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD"/>
    <add key="INITIAL_USER" value="sa"/>
    <add key="PASS_WORD" value="sa"/>
    <add key="SO_VAO_SO_DAU_TIEN" value="0001"/>
    <add key="FORMAT_SO_VAO_SO" value="0000"/>
    <add key="PATH_CHUNG_CHI" value="D:\Chung_chi\"/>
    <add key="DESTINATION_NAME" value=""/>
    <add key="USERNAME_SHARE" value="bki_publish"/>
    <add key="PASSWORD_SHARE" value="bki123!@#"/>
    <add key="DOMAIN" value="210.245.89.37"/>
    <add key="WEB_URL" value="http://localhost:56940/QuanLyHanhChinh"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
