<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RUN_MODE" value="DEVELOP" />
		<add key="MA_DON_VI" value="GEN" />
		<add key="MA_HE_THONG" value="KT" />


    <!--<add key="SERVER" value="DAOVIETHIEN-PC" />
    <add key="INITIAL_DATABASE" value="BUU_CUC_THONG_KE" />
    <add key="FILL_DATABASE" value="BUU_CUC_THONG_KE" />
    <add key = "DATABASE_ACCESS_MODE" value = "USER_AND_PASSWORD"/>
    <add key="INITIAL_USER" value="sa" />
    <add key="PASS_WORD" value="sa" />-->

    <add key="SERVER" value="10.0.0.1\SQLEXPRESS" />
    <add key="INITIAL_DATABASE" value="BUU_CUC_THONG_KE" />
		<add key="FILL_DATABASE" value="BUU_CUC_THONG_KE" />
		<add key = "DATABASE_ACCESS_MODE" value = "USER_AND_PASSWORD"/>		
		<add key="INITIAL_USER" value="hiendv" />
		<add key="PASS_WORD" value="sa123456" />

    <add key="SO_VAO_SO_DAU_TIEN" value="0001" />
    <add key="FORMAT_SO_VAO_SO" value="0000" />
    <add key="PATH_CHUNG_CHI" value="D:\Chung_chi\" />
	</appSettings>
</configuration>