<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BCTKDS.Properties.Settings.TCMConnectionString" connectionString="Data Source=NGV\SQLEXPRESS;Initial Catalog=TCM;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="BCTKDS.Properties.Settings.BUU_CUC_THONG_KEConnectionString"
            connectionString="Data Source=DAOVIETHIEN-PC;Initial Catalog=ADMIN_SOFT;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>