<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BCTKDS.Properties.Settings.TCMConnectionString" connectionString="Data Source=DUY-HUY\SQLEXPRESS;Initial Catalog=TCM;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="BCTKDS.Properties.Settings.BUU_CUC_THONG_KEConnectionString"
            connectionString="Data Source=DAOVIETHIEN-PC;Initial Catalog=ADMIN_SOFT;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="BCTKDS.Properties.Settings.ADMIN_SOFTConnectionString"
            connectionString="Data Source=NGV\SQLEXPRESS;Initial Catalog=ADMIN_SOFT;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="BCTKDS.Properties.Settings.ADMIN_SOFTConnectionString1"
            connectionString="Data Source=DUY-HUY\SQLEXPRESS;Initial Catalog=ADMIN_SOFT;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="BCTKDS.Properties.Settings.ADMIN_SOFTConnectionString2"
            connectionString="Data Source=TUDM-PC\SQLEXPRESS;Initial Catalog=ADMIN_SOFT;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
      <add name="BCTKDS.Properties.Settings.ADMIN_SOFTConnectionString2"
            connectionString="Data Source=DUNGNT\MSSQLEXPRESS;Initial Catalog=BKI_TAD;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
      <add name="BCTKDS.Properties.Settings.ADMIN_SOFTConnectionString3"
            connectionString="Data Source=TUNASQLEXPRESS;Initial Catalog=ADMIN_SOFT;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>