<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RUN_MODE" value="DEVELOP" />	
		<add key="FONTNAME" value="BVDTArial"/>
		<add key="SERVER_NAME" value="DATATSRV"/>
		<add key="DB_NAME" value="BKI_KHO"/>
		<add key="INITIAL_USER" value="bkindex"/>
		<add key="PASS_WORD" value="bkindex"/>

		

    <add key="LANGUAGE" value="FMS-VN"/>
	</appSettings>	
</configuration>
